body {background-color: #787B87;
	}

	div {margin: 0;}

	h1 {color:#101022;
		text-align: center;
		font-size: 75px;
		font-family:HelveticaNeue;
		letter-spacing:3px;git
		}

	h2 {color: #ff7a85;
		font-family: HelveticaNeue-light;
		font-size: 180px;
   		font-weight: 100;
		letter-spacing: 10px;}
	
	h3 {font-family: HelveticaNeue;
		color: #101022}

	h4 {font-family: HelveticaNeue;
		font-size: 30px;
		margin-top: 0;
		}

	p { font-family: HelveticaNeue-light;
		color: #101022;
		}

	#topbar {position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			}

	#one {background-color: #5bb2fc;
		border-color: #5bb2fc;
		}
	
	#two  {background-color: #58ebd3;
		border-color: #58ebd3;
		}
	
	#three {background-color: #AABAC5;
		border-color: #AABAC5;
		}
	
	#four {background-color: #ffa659;
		border-color: #ffa659;

		}
	#five {background-color: #ff7a85;
		border-color: #ff7a85;
	}

	#page {position: absolute;
		top: 1000px;
		display: table;
		border: solid;
		width: 1300px;
		height: 900px;}

	#banner {/*overflow: hidden;*/
			border: solid #787B87;
			width: 100%;
			height: 100%;
			position: relative;
			left: 5%;
			border-radius: 10px;
			box-shadow: 0 0 0 2px #696E80, -8px 8px 25px 3px #333748;
   			}

	#title1 {position: relative;
		bottom: -20%;
		right: 10%;
		text-align: right;
		}

	#title2 {position: relative;
			margin: 0;
			left: 73%;
			bottom: 98%;
			width: 25%;
			}

	#text {position: absolute;
		left: 5%;
		top: 5%;
		display: table-cell;
		text-align: left;
		vertical-align: top;
		line-height: 260%;
		}

	#text2 {position: absolute;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		line-height: 260%;
		}

	.header {position: relative;
			top: 40px;
			left: 0;
			margin: 0;
			width: 90%;
			height: 200px;
			}

	.menu {position: relative;
		width: 70%;
		height: 116px;
		top: 5%;
		left: 5%;}

	.icon {margin: 0;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 8px;
		border: solid;
		border-radius: 10px;
		width: 94px;
		height: 94px;
		}


	.blurText {position: absolute;
		font-family: HelveticaNeue-light;
		font-size: 28px;
		letter-spacing: 3px;
		font-weight: lighter;
		text-align: center;
		vertical-align: middle;
		line-height: 90px;
		width: 94px;
		height: 94px;
		color: #101022;
   		text-shadow: -2px 2px 8px #787B87;
	}

	.overlay {position: absolute;
	  width: 100%;
	  height: 100%;
	  z-index: -1;
	}

	.bar {}

	.tolerance {
		/*top: 0;
		left: 0;
		width: 100%;
		height: 20px;
		position: fixed;
		background: rgb(212, 12, 20);
		background-color: rgba(255, 0, 0, 0.4);
		z-index: 1;*/
		}
	